---
import PageLayout from "../layouts/PageLayout.astro";

import NavBar from "../components/NavBar.astro";
import PageTitle from "../components/PageTitle.astro";
---

<PageLayout title="AM77 | Contact">
  <NavBar slot="nav-bar" active="contact" />
  <PageTitle slot="page-title" title="Contact" />

  <div class="flex w-full p-16">
    <div class="flex flex-col gap-6 text-gray-50">
      <h1 class="font-ibm font-medium text-3xl">You can find me here:</h1>

      <div class="flex gap-2">
        <a
          class="font-share font-semibold hover:underline hover:text-primary"
          href="https://github.com/AM-77">github</a
        > .
        <a
          class="font-share font-semibold hover:underline hover:text-primary"
          href="https://gitlab.com/amine-griche">gitlab</a
        > .
        <a
          class="font-share font-semibold hover:underline hover:text-primary"
          href="https://www.linkedin.com/in/mohamed-amine-griche">linkedin</a
        > .
        <a
          class="font-share font-semibold hover:underline hover:text-primary"
          href="https://stackoverflow.com/users/10564525">stackoverflow</a
        > .
        <a
          class="font-share font-semibold hover:underline hover:text-primary"
          href="https://codepen.io/am-77">codepen</a
        > .
        <a
          class="font-share font-semibold hover:underline hover:text-primary"
          href="https://www.npmjs.com/~am-77">npm</a
        > .
        <a
          class="font-share font-semibold hover:underline hover:text-primary"
          href="https://dev.to/am77">dev.to</a
        > .
        <a
          class="font-share font-semibold hover:underline hover:text-primary"
          href="mailto:amine.griche77@protonmail.ch">email</a
        >
      </div>
    </div>
  </div>
</PageLayout>
