---
import PageLayout from "../layouts/PageLayout.astro";

import NavBar from "../components/NavBar.astro";
import PageTitle from "../components/PageTitle.astro";
---

<PageLayout title="AM77 | Home">
  <PageTitle slot="page-title" title="home" />
  <NavBar slot="nav-bar" active="home" />

  <div class="flex flex-col p-16 text-gray-50 gap-8">
    <div class="w-24 h-24 rounded-md overflow-hidden">
      <img src="/me.jpeg" alt="me" />
    </div>
    <h1 class="font-ibm font-medium text-3xl">Mohamed Amine Griche</h1>
    <div class="flex flex-col gap-5 font-ibm">
      <span class="text-base">
        I'm a software engineer based in Algeria. I'm interested in
        JavaScript/TypeScript all things.
      </span>

      <span class="text-base font-ibm leading-7">
        In the last couple of years I have been working mainly as a front-end
        developer using <span class="font-share font-semibold"
          >React/NextJs</span
        > & <span class="font-share font-semibold">Svelte/kit</span> to build, ship
        and maintian UI components.
      </span>

      <!-- <span>something about oss and love to code and sometimes write about it.</span> -->
    </div>
  </div>
</PageLayout>
