---
import PageLayout from "../layouts/PageLayout.astro";

import NavBar from "../components/NavBar.astro";
import PageTitle from "../components/PageTitle.astro";
import Projects from "../components/Projects.svelte";
---

<PageLayout title="AM77 | Projects">
  <NavBar slot="nav-bar" active="projects" />
  <PageTitle slot="page-title" title="Projects" />

  <div class="flex w-full flex-col p-16 gap-12">
    <h1 class="font-ibm font-medium text-3xl text-gray-50">Projects</h1>
    <Projects />
    <span class="text-sm font-medium font-ibm text-gray-50"
      >You can find more on my <a
        href="https://github.com/AM-77?tab=repositories"
        target="_blank"
        class="font-share font-semibold underline hover:text-primary"
        >github profile</a
      >
    </span>
  </div>
</PageLayout>
