---
export interface Props {
  title: string;
}

const { title } = Astro.props;
---

<div class="w-full p-0.5 flex justify-end">
  <span class="capitalize text-primary text-base font-bold font-share"
    >{title}
  </span>
</div>
